<div>
	<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li *ngFor="let item of items; let i = index">
							<a class="text-white">{{item}}</a>
							<span *ngIf=" i!==items.length-1" class="mx-2 text-white">/</span>
						</li>
					</ul>
				</div>
				<div class="mt-2 col-md-12">
					<div class="!flex items-center space-x-4 flex-row page-header-title">
						<button *ngIf="showBackButton" mat-icon-button (click)="goBack()" class="!bg-white/40">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="white" d="m10.875 19.3l-6.6-6.6q-.15-.15-.213-.325Q4 12.2 4 12t.062-.375q.063-.175.213-.325l6.6-6.6q.275-.275.687-.288q.413-.012.713.288q.3.275.313.687q.012.413-.288.713L7.4 11h11.175q.425 0 .713.287q.287.288.287.713t-.287.712Q19 13 18.575 13H7.4l4.9 4.9q.275.275.288.7q.012.425-.288.7q-.275.3-.7.3q-.425 0-.725-.3Z"/></svg>
						</button>
						<h2 class="mb-0 text-white">{{title}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
