<ul class="list-unstyled">
	<li class="dropdown pc-h-item" ngbDropdown>
		<a class="bg-gray-200 cursor-pointer pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown"
			ngbDropdownToggle>
			<i antIcon type="bell" theme="outline"></i>
			<span class="badge bg-primary pc-h-badge">3</span>
		</a>
	</li>
	<li class="dropdown pc-h-item header-user-profile" ngbDropdown>
		<div class="cursor-pointer pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
			<img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar me-2" />
			<span class="f-w-600">{{ user.name }}</span>
		</div>
		<div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
			<div class="dropdown-header">
				<div class="mb-1 d-flex">
					<div class="flex-shrink-0">
						<img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar wid-35" />
					</div>
					<div class="flex-grow-1 ms-3 text-start">
						<h6 class="mb-0">{{ user.name }}</h6>
						<span>{{user.email}}</span>
					</div>
					<a class="bg-transparent"><i class="d-flex f-20" antIcon theme="outline" type="logout"></i></a>
				</div>
			</div>
			<ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
				<li ngbNavItem="1">
					<a ngbNavLink>
						<i antIcon theme="outline" type="user" class="me-2"></i>
						Profile
					</a>
					<ng-template ngbNavContent>
						@for (task of profile; track task) {
						<div>
							<a class="dropdown-item">
								<i class="text-muted" antIcon theme="outline" type="{{ task.icon }}"></i>
								<span>{{ task.title }}</span>
							</a>
						</div>
						}
						<div>
							<a (click)="logout()" mat-ripple class="cursor-pointer dropdown-item">
								<i class="text-muted" antIcon theme="outline" type="logout"></i>
								<span>Logout</span>
							</a>
						</div>
					</ng-template>
				</li>
			</ul>
			<div [ngbNavOutlet]="nav"></div>
		</div>
	</li>
</ul>
